body {
    background: #343a40;
    color: #343a40;
}

h1 {
    text-align: center;
    color: #000000;
}

.clearfix {
    clear: both;
}

#box {
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    background: #c20e50;
    padding-bottom: 40px;
    border-radius: 10px;
}

#message {
    background: #333;
    color: #fff;
}

#gameBoard li {
    float: left;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 50px;
    background: #444;
    color: #000000;
    list-style: none;
    text-align: center;
    border-radius: 5px;
}

#gameBoard li:hover, #reset:hover {
    cursor: pointer;
    background: #b785f6;
}

#reset {
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
}

.o {
    color: green !important;
}

.x {
    color: red !important;
}

footer {
    display: block;
    text-align: center;
    padding-top: 20px;
}

button {
    background-color: blueviolet;
    color: black;
    border-radius: 5%;
    padding: 2px;
    border-color: black;
    border-width: 2px;
}

button:hover {
    background-color: #b785f6;
}